body {
  background-color: #1f2937;
}

/* styles.css or a CSS module */
.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the height of the underline */
  background-color: #ff3131; /* Set the color of the underline */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* styles.css */
.vv-hero-decoration-parallelogram {
  transform: skew(20deg);
  display: inline-block;
}

.vv-hero-decoration-left {
  -webkit-clip-path: polygon(0 0, calc(100% - 484px) 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, calc(100% - 484px) 0, 100% 100%, 0% 100%);
}

:-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #cccccc;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #3f3f3f;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d62929;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}

audio::-webkit-media-controls-panel {
  background-color: #6b7280;
}
audio::-webkit-media-controls-play-button {
  background-color: red;
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display {
  color: white;
}

audio::-webkit-media-controls-time-remaining-display {
  color: white;
}

audio::-webkit-media-controls-volume-slider {
  background-color: red;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

audio::-webkit-media-controls-mute-button {
  background-color: red;
  border-radius: 50%;
}
